body {
    background-color: black;
}

/* Extra small devices (phones, 740px and down) */
@media only screen and (max-width: 740) {
    #about {
        margin-top: 2%;
        margin-left: 2%;
    }

    #container {
        margin: 100px auto;
        max-width: 100%;
        max-height: 100%;
    }
}

/* Medium devices (landscape tablets, 740px and up) */
@media only screen and (min-width: 740px) {
    #about {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 5%;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #container {
        display: block;
        margin: 6% auto;
        max-width: 50%;
        max-height: 50%;
    }
}

h1 {
    color: white;
    font-family: Baskerville;
    font-weight: normal;
    font-style: italic;
}

h3 {
    color: white;
    font-family: Baskerville;
    font-weight: normal;
    font-style: normal;
    line-height: 130%;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}


#slideShow {
    border-radius: 35px;
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    /* 100% can be used for responsive layout */

}

#slideShow img {
    border-radius: 35px;
    width: 100%;
    /* set width in #slideShow */
    height: auto;
    display: block;

    /* removes gap at bottom of image */
}

#slideShow div {
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    color: #fff;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville.eot');
    src: url('Baskerville.eot?#iefix') format('embedded-opentype'),
        url('Baskerville.woff2') format('woff2'),
        url('Baskerville.woff') format('woff'),
        url('Baskerville.ttf') format('truetype'),
        url('Baskerville.svg#Baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('Baskerville-Italic.eot');
    src: url('Baskerville-Italic.eot?#iefix') format('embedded-opentype'),
        url('Baskerville-Italic.woff2') format('woff2'),
        url('Baskerville-Italic.woff') format('woff'),
        url('Baskerville-Italic.ttf') format('truetype'),
        url('Baskerville-Italic.svg#Baskerville-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}